body
{ 
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffd0a8;
    color:#333;
    font-family: sans-serif;
    font-weight: 100;
    text-transform: capitalize;
    border: 5px solid black;
}
.container
{
 text-align: center;
 padding: 2rem;
 border-radius: 5px ;
 background-color: #fff;
 flex: 0 0 0;
 }
#btnn:hover
{
    color: #ffd000;
}